.categorias-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
  background-color: #D6F8F4;
}

.header {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.layout-contenido {
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 1rem;
}

.layout-columnas {
  display: flex;
  gap: 2rem;
}

/* Sidebar de categorías */
.sidebar-categorias {
  width: 250px;
  background-color: #D6F8F4;
  padding: 1rem;
  border-radius: 12px;
  
}

.categorias-titulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #2d3748;
}

/* Contenedor de productos */
.productos-grid-container {
  flex: 1;
  background-color: #D6F8F4;
  padding: 1.5rem;
  border-radius: 12px;
  
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .layout-columnas {
    flex-direction: column;
  }

  .sidebar-categorias {
    width: 100%;
  }

  .productos-grid-container {
    padding: 1rem;
  }
}
