/* src/components/category/CategoryCardStyles.css */
.category-card {
  display: inline-block;
  width: 200px;
  background-color: #FFEB3B;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
}

.category-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.category-name h3 {
  font-size: 18px;
  margin-top: 10px;
}
