<<<<<<< HEAD
@font-face {
  font-family: 'Cocogoose Classic';
  src: url('../assets/fonts/CocogooseClassic.woff2') format('woff2'),
       url('../assets/fonts/CocogooseClassic.woff') format('woff'),
       url('../assets/fonts/CocogooseClassic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, html, #root {
  font-family: 'Cocogoose Classic', Arial, sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 44px;
  font-weight: bold;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
=======
/* Home.css */
html, body {
  height: 100%; /* Asegura que el contenedor principal ocupe toda la altura de la pantalla */
  margin: 0;
}

.home-page {
  background-color: #00bfff; /* Color de fondo celeste */
  min-height: 100vh; /* Hace que la altura mínima de la página sea igual a la altura de la pantalla */
  padding-top: 0; /* Añade algo de espacio en la parte superior si es necesario */
>>>>>>> a0e4cf3d076efc239f6b8528a407da736a8a82c9
}

.banner-section img {
  width: 100%;
  max-height: none;
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente sin distorsión */
}

.container {
  max-width: 1200px; /* Limita el tamaño máximo del contenido */
}

.text-center {
  text-align: center; /* Centra el texto */
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 15px;
}

@media (max-width: 768px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Fondo azul que ocupa todo el ancho */
.bg-azul-personalizado {
  background-color: #082EB7;
  color: rgb(255, 255, 255);
  width: 100%;
}
.bg-azul-personalizado strong {
  color: #FFD100; /* amarillo para strong */
}
/* Fondo claro que ocupa todo el ancho */
.bg-light-custom {
  background-color: #d6f8f4;
  width: 100%;
}

/* Bootstrap container ya centra y limita ancho */
/* Por eso no agregamos max-width o margin al bg-azul-personalizado ni bg-light-custom */

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

/* Opcional para que el botón resalte */
.btn-light {
  color: #082EB7;          /* texto azul */
  background-color: #FFD100; /* fondo amarillo */
  font-weight: bold;
  border: none;           /* opcional, si quieres sin borde */
}

.btn-light:hover {
  background-color: #e6c200; /* un amarillo más oscuro al hover */
  color: #082EB7;             /* texto sigue azul */
}
@media (max-width: 767px) {
  /* Centrar el botón como antes */
  .btn.btn-light {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  /* Espacio extra encima de la imagen cuando está en móvil */
  .col-md-6.text-center img {
    margin-top: 20px; /* o ajusta el valor que quieras */
  }
}


